<div class="jumbotron jumbotron-fluid " id="contact">

    <div class="container">
        <h1>Entre em contato</h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="formulario col-sm">
                <form class="needs-validation" novalidate>
                    <div class="form-group">
                        <label for="nome">Nome Completo:</label>
                        <input type="text" class="form-control" id="campoNome" placeholder="Informe seu nome completo"
                            required>
                        <div class="valid-feedback">Nome preenchido.</div>
                    </div>
                    <div class="form-group">
                        <label for="email">Endereço de email:</label>
                        <input type="email" class="form-control" id="campoEmail" placeholder="nome@exemplo.com"
                            required>
                        <div class="invalid-feedback">Por gentileza, verifique o e-mail informado.</div>
                    </div>
                    <div class="form-group">
                        <label for="mensagem">Deixe sua mensagem aqui:</label>
                        <textarea class="form-control" placeholder="Digite aqui sua mensagem"
                            id="floatingTextarea"></textarea>
                    </div>
                    <div class="form-group d-flex justify-content-center">
                        <button type="submit" class="btn btn-outline-primary">Enviar</button>
                    </div>
                </form>
            </div>
            <div class="mapa col-sm">
                <iframe class="w-100"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3658.159359796579!2d-46.66616668497889!3d-23.526770066200992!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5804524dccff%3A0x174bc054b68bd356!2sMuseu%20da%20Inclus%C3%A3o!5e0!3m2!1spt-BR!2sbr!4v1615588956534!5m2!1spt-BR!2sbr"
                    width="400" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
</div>