<div class="container">
    <h1>Blog sobre viagens (:</h1>

</div>

<div class="container">

    <div class="parallax"></div>

    <h3 class="text-center mb-5">Conheça o blog:</h3>
    <div class="row">
        
        <div class="col-md-3">

            <div id="list-example" class="list-group">
                <a class="list-group-item list-group-item-action" href="#list-item-1">História do blog</a>
                <a class="list-group-item list-group-item-action" href="#list-item-2">Quem somos</a>
                <a class="list-group-item list-group-item-action" href="#list-item-3">Tipos de viagens</a>
                <a class="list-group-item list-group-item-action" href="#list-item-4">Item 4</a>
            </div>
        </div>


        <div class="col-md-9 mb-5">


            <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="0" class="scrollspy-example"
                tabindex="0">
                <h4 id="list-item-1">História do blog</h4>
                <p>Mussum Ipsum, cacilds vidis litro abertis. Paisis, filhis, espiritis santis. Mauris nec dolor in eros
                    commodo tempor. Aenean aliquam molestie leo, vitae iaculis nisl. Per aumento de cachacis, eu
                    reclamis. Copo furadis é disculpa de bebadis, arcu quam euismod magna.

                    Viva Forevis aptent taciti sociosqu ad litora torquent. Atirei o pau no gatis, per gatis num
                    morreus. Aenean aliquam molestie leo, vitae iaculis nisl. Casamentiss faiz malandris se pirulitá.

                    Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Manduma pindureta
                    quium dia nois paga. Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. Praesent
                    malesuada urna nisi, quis volutpat erat hendrerit non. Nam vulputate dapibus.

                    In elementis mé pra quem é amistosis quis leo. Posuere libero varius. Nullam a nisl ut ante blandit
                    hendrerit. Aenean sit amet nisi. Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que
                    eu levo! Si num tem leite então bota uma pinga aí cumpadi!</p>
                <h4 id="list-item-2">Quem somos</h4>
                <p>Mussum Ipsum, cacilds vidis litro abertis. Paisis, filhis, espiritis santis. Mauris nec dolor in eros
                    commodo tempor. Aenean aliquam molestie leo, vitae iaculis nisl. Per aumento de cachacis, eu
                    reclamis. Copo furadis é disculpa de bebadis, arcu quam euismod magna.

                    Viva Forevis aptent taciti sociosqu ad litora torquent. Atirei o pau no gatis, per gatis num
                    morreus. Aenean aliquam molestie leo, vitae iaculis nisl. Casamentiss faiz malandris se pirulitá.

                    Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Manduma pindureta
                    quium dia nois paga. Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. Praesent
                    malesuada urna nisi, quis volutpat erat hendrerit non. Nam vulputate dapibus.

                    In elementis mé pra quem é amistosis quis leo. Posuere libero varius. Nullam a nisl ut ante blandit
                    hendrerit. Aenean sit amet nisi. Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que
                    eu levo! Si num tem leite então bota uma pinga aí cumpadi!</p>
                <h4 id="list-item-3">Tipos de viagens</h4>
                <p>Mussum Ipsum, cacilds vidis litro abertis. Paisis, filhis, espiritis santis. Mauris nec dolor in eros
                    commodo tempor. Aenean aliquam molestie leo, vitae iaculis nisl. Per aumento de cachacis, eu
                    reclamis. Copo furadis é disculpa de bebadis, arcu quam euismod magna.

                    Viva Forevis aptent taciti sociosqu ad litora torquent. Atirei o pau no gatis, per gatis num
                    morreus. Aenean aliquam molestie leo, vitae iaculis nisl. Casamentiss faiz malandris se pirulitá.

                    Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Manduma pindureta
                    quium dia nois paga. Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. Praesent
                    malesuada urna nisi, quis volutpat erat hendrerit non. Nam vulputate dapibus.

                    In elementis mé pra quem é amistosis quis leo. Posuere libero varius. Nullam a nisl ut ante blandit
                    hendrerit. Aenean sit amet nisi. Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que
                    eu levo! Si num tem leite então bota uma pinga aí cumpadi!</p>
                <h4 id="list-item-4">Item 4</h4>
                <p>Mussum Ipsum, cacilds vidis litro abertis. Paisis, filhis, espiritis santis. Mauris nec dolor in eros
                    commodo tempor. Aenean aliquam molestie leo, vitae iaculis nisl. Per aumento de cachacis, eu
                    reclamis. Copo furadis é disculpa de bebadis, arcu quam euismod magna.

                    Viva Forevis aptent taciti sociosqu ad litora torquent. Atirei o pau no gatis, per gatis num
                    morreus. Aenean aliquam molestie leo, vitae iaculis nisl. Casamentiss faiz malandris se pirulitá.

                    Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Manduma pindureta
                    quium dia nois paga. Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. Praesent
                    malesuada urna nisi, quis volutpat erat hendrerit non. Nam vulputate dapibus.

                    In elementis mé pra quem é amistosis quis leo. Posuere libero varius. Nullam a nisl ut ante blandit
                    hendrerit. Aenean sit amet nisi. Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que
                    eu levo! Si num tem leite então bota uma pinga aí cumpadi!</p>
            </div>

        </div>


    </div>
</div>